

body {
    font-family: 'Open Sans', sans-serif;
}

section {
    border: solid black 2px;
}

ul {
    padding: 0px;
    list-style: none;
}

li {
    margin: 0.5em 1em;
}

.exp-item {
    border-left: solid black 2px;
    padding-left: 2px;
}

